body {
  background-color: #0d1d31;
  color: white;
}
textarea {
  background-color: #30C4C9;
}
.previewer {
  margin: auto;
  width: 70vw;
  padding: 20px;
  border-radius: 10%;
  background-color: #30C4C9;
  color: #0d1d31;
}